{% if ont.annotation_properties %}
    {% if ont.annotation_properties|length == 1 %}
        <h2>Annotation Property</h2>
    {% else %}
        <h2>Annotation Properties</h2>
    {% endif %}

    {# ToC #}
    {% for ap in ont.annotation_properties %}
        <span class="toc-property"><a href="#{{ ap.property_name[0] }}">{{ format(ap.property_name[1]) }}</a></span>
    {% endfor %}


    {% for ap in ont.annotation_properties %} {# FRAGMENTS ARE ENCODING WEIRDLY? #}
        <h3 id="{{ ap.property_name[0] }}">{{ format(ap.property_name[1]) }}</h3>
        <strong>IRI:</strong> {{ format(ap.IRI) }}
    {% endfor %}
{% endif %}