{% if ont.annotation_properties %}
    {% if ont.annotation_properties|length == 1 %}
        <h2>Annotation Property</h2>
    {% else %}
        <h2>Annotation Properties</h2>
    {% endif %}


    {# ToC #}
    {{ generate_property_toc(ont.annotation_properties) }}


    {% for ap in ont.annotation_properties %}
    <div class="property-card">
        <h3 id="{{ ap.label }}">{{ format(ap.label, safe=true) }}</h3>

        <dl>
            {% if ap.uri %}
                <dt>IRI:</dt>
                <dd>{{ format(ap.uri) }}</dd>
            {% endif %}

            {% if ap.rdfs_range != 'None' %}
                <div><strong>has range:</strong> <a href="#{{ ap.rdfs_range }}">{{ ap.rdfs_range }}</a></div>
            {% endif %}
        </dl>
    </div>
    {% endfor %}
{% endif %}