{# -- TODO ---------------------------------------------------------------------------------------------------------- #}
{#
- write a macro for displaying a property's properties like IRI, subclass of, has super class, etc.
- prettify the HTML before sending back to client
#}


{# -- Serialize data to the correct HTML format depending if it's an rdflib.Literal or rdflib.URIRef ---------------- #}
{#
Parameters:
    s - the string to be formatted
    markdown - should the string be considered as markdown and transformed into HTML? (default is false)
    safe - should the string be displayed without escaping characters (default is false)
#}
{% macro format(s, markdown=false, safe=false) %}
    {% if t.is_email(s) %}
        <a href="mailto:{{ s }}">{{ s }}</a>
    {% elif t.is_url(s) %}
        <a href="{{ s }}">{{ s }}</a>
    {% elif markdown %}
        {{ t.render_literal(s)|safe }}
    {% elif safe %}
        {{ s|safe }}
    {% else %}
        {{ s }}
    {% endif %}
{% endmacro %}


{# -- Generate table of content for a property (NamedIndividual, Class, etc.) ----------------------------------------#}
{% macro generate_property_toc(properties) %}
    <div class="toc-property-container">
        {% for p in properties %}
            <span class="toc-property"><a href="#{{ p.property_name[0] }}">{{ format(p.property_name[1], safe=true) }}</a></span>
        {% endfor %}
    </div>

{% endmacro %}


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/ontology.css">
        <title>{{ format(ont.title) }}</title>
    </head>

    <body>

        <div class="container">


            {# -- Header -------------------------------------------------------------------------------------------- #}
            {% include "header.html" %}


            <hr>


            {# -- Abstract ------------------------------------------------------------------------------------------ #}
            {% include "abstract.html" %}


            {# -- Table of contents --------------------------------------------------------------------------------- #}
            {# TODO: TOC, check each ont.property and see if their length is greater than zero, if so, create a TOC  #}


            {# -- Annotation Properties ----------------------------------------------------------------------------- #}
            {% include "annotation_properties.html" %}


            {# LOOK INTO WHAT NAMES ARE CAPITALS AND WHAT ARENT: EXAMPLE, CLASS AND OBJECT NAMES ARE CAPITALS BUT NOT OTHER PROPERTIES? #}


            <hr class="footer-divide">


            {# -- Footer -------------------------------------------------------------------------------------------- #}
            {% include "footer.html" %}


        </div>


    </body>
</html>