{# -- TODO ---------------------------------------------------------------------------------------------------------- #}
{#
- write a macro for displaying a property's properties like IRI, subclass of, has super class, etc.
- prettify the HTML before sending back to client
#}


{% from "macros/format.html" import format with context %}
{% from "macros/generate_property_toc.html" import generate_property_toc with context %}
{% from "macros/display_property.html" import display with context %}


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/ontology.css">
        <title>{{ format(ont.title) }}</title>
    </head>

    <body>

        <div class="container">


            {# -- Header -------------------------------------------------------------------------------------------- #}
            {% include "header.html" %}


            <hr>


            {# -- Abstract ------------------------------------------------------------------------------------------ #}
            {% include "abstract.html" %}


            {# -- Table of contents --------------------------------------------------------------------------------- #}
            {# TODO: TOC, check each ont.property and see if their length is greater than zero, if so, create a TOC  #}


            {# -- Classes ------------------------------------------------------------------------------------------- #}
            <hr>
            {% include "classes.html" %}


            {# -- Annotation Properties ----------------------------------------------------------------------------- #}
            <hr>
            {% include "annotation_properties.html" %}


            {# LOOK INTO WHAT NAMES ARE CAPITALS AND WHAT ARENT: EXAMPLE, CLASS AND OBJECT NAMES ARE CAPITALS BUT NOT OTHER PROPERTIES? #}


            {# -- Namespaces ---------------------------------------------------------------------------------------- #}
            <hr>
            {% include "namespaces.html" %}


            {# -- Footer -------------------------------------------------------------------------------------------- #}
            <hr>
            {% include "footer.html" %}


        </div>


    </body>
</html>